/* FONT CHÍNH */
body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  background: #000;
  color: white;
  line-height: 1.55;
}
font-family: "Rajdhani", sans-serif;
font-weight: 500;
background: #000;
color: white;

/* TIÊU ĐỀ */
h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
}

/* SCROLLBAR CHO NGẦU */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}
